.visitor-map-page{
    .main-content{
        background: url(/images/theme_pattern.png) center top repeat-x;
    }
}
.visitor-map{
    .container{display: grid; grid-template-columns: 1fr auto; align-items: center;}

    .content{padding-inline-end: 114px;}
    .section-title{margin-bottom: 1.5rem;}
    p{margin: 0;}

    .info{
        margin-top: px_rem(100px); padding: px_rem(32px); background: rgba(245, 245, 245, 1); border-left: 5px solid rgba(207, 156, 90, 1);
    
        h3{font-size: px_rem(20px); line-height: 1; margin-bottom: 1.5rem; font-family: var(--font-medium);}
        
        .grid{display: grid; font-family: var(--font-thin); grid-template-columns: repeat(2, 1fr); grid-gap: 30px;}
        .grid .item{font-size: px_rem(20px); line-height: px_rem(22px);}
        .grid .item span{display: block; padding-left: 30px; position: relative;}
        .grid .item span:after{
            content: ""; --size: 4px;
            width: var(--size);
            height: var(--size);
            border-radius: var(--size);
            background: black;
            position: absolute;
            left: 15px; top: 50%; transform: translateY(-50%);
        }
    }

    .image{width: 644px; border-radius: 24px; overflow: hidden;}
}